@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	//outline: 1px solid black;
}

html {
	font-size: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color: #1b2430;
}

a {
	text-decoration: none;
	color: #1b2430;
}

ul {
	text-ident: 0;
	margin: 0;
	padding: 0;
}

ul,
li {
	list-style-type: none;
	text-indent: 0;
}

.app-logo {
	height: auto;
	margin: 20px auto;
	padding: 20px;
}
.avatar {
	margin: auto;
}

.avatar-img {
	width: 20%;
	height: auto;
	margin: auto;
	padding: 5px;
}

/***** Login Component *****/

.user-dropdown {
	font-size: 1rem;
}

